canvas {
  border: 1px solid black;
}

#new-sprite-form {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  top: 30%;
  left: 30%;
  z-index: 9999;
}
